<f:layout name="Default" />

<f:section name="Title">Edit note "{note.name}"</f:section>

<f:section name="Content">
    <f:form action="update" object="{note}" objectName="note">
        <ol>
            <li>
                <label for="name">Name</label>
                <f:form.textfield property="name" id="name" />
            </li>

            <li>
                <f:form.submit value="Update" />
            </li>
        </ol>
    </f:form>
	<p><f:link.action action="back">Back to Index</f:link.action></p>

</f:section>
