<f:layout name="Default"/>

<f:section name="Title">Schwizerdütschi Redewändige</f:section>

<f:section name="Content">
	<div class="row">
		<div class="column">
			<f:if condition="{notes}">
				<f:then>
					<ul>
						<f:for each="{notes}" as="note">
							<li>
								<f:link.action action="show" arguments="{note: note}">{note.name}</f:link.action>
								<f:link.action action="edit" arguments="{note: note}">Bearbeitä</f:link.action>
								<f:form action="delete" arguments="{note: note}">
									<f:form.submit value="Löschä"/>
								</f:form>
							</li>
						</f:for>
					</ul>
				</f:then>
				<f:else>
					<p>No keni Notizä erfasst!</p>
				</f:else>
			</f:if>
		</div>
		<div class="column formsDiv">
			<f:form action="create" controller="note" package="Lemon.Project" objectName="newNote">
				<label for="name">Chääs</label><br>
				<f:form.textfield property="name" id="name"/>
				<br>
				<label for="comment">Kommentar</label><br>
				<f:form.textarea property="comment" id="comment"/>

				<br>
				<f:form.submit value="Create"/>
			</f:form>
		</div>
	</div>

	<hr>
	<p>
		<f:link.action action="back">Zrüg zum Index</f:link.action>
	</p>

</f:section>
