<f:layout name="Default"/>

<f:section name="Title">Schwizerdütschi Redewändige</f:section>

<f:section name="Content">
	<div class="row">
		<div class="column">
			<f:if condition="{notes}">
				<f:then>
					<table class="styled-table">
						<thead>
						<tr>
							<th>Redewändig</th>
							<th>Kommentar</th>
							<th>Ersteut</th>
							<th>Bearbeitä</th>
							<th><i class="fa-solid fa-trash"></i></th>
						</tr>
						</thead>
						<tbody>
						<f:for each="{notes}" as="note">
							<tr>
								<td>
									<f:link.action action="show" arguments="{note: note}">{note.name}</f:link.action>
								</td>
								<td>
									{note.comment}
								</td>
								<td>
									<f:format.date>{note.createdDateTime}</f:format.date>
								</td>
								<td>
									<f:link.action action="edit" arguments="{note: note}"><i class="fa-solid fa-pen-to-square"></i>
									</f:link.action>
								</td>
								<td>
									<f:form action="delete" arguments="{note: note}">
										<f:form.submit value="Löschä"/>
									</f:form>
								</td>
							</tr>
						</f:for>
						</tbody>
					</table>
				</f:then>
				<f:else>
					<p>No keni Notizä erfasst!</p>
				</f:else>
			</f:if>
		</div>
		<div class="columnRight formsDiv">
			<f:form action="create" controller="note" package="Lemon.Project" objectName="newNote">
				<label for="name">Chääs</label><br>
				<f:form.textfield property="name" id="name"/>
				<br>
				<label for="comment">Kommentar</label><br>
				<f:form.textarea property="comment" id="comment"/>

				<br>
				<f:form.submit value="Create"/>
			</f:form>
		</div>
	</div>

	<hr>
	<p>
		<f:link.action action="back">Zrüg zum Index</f:link.action>
	</p>

</f:section>
