<f:layout name="Default" />

<f:section name="Title">New note</f:section>

<f:section name="Content">
    <p>Just fill out the following form to create a new note:</p>
    <f:form action="create" controller="note" package="Lemon.Project" objectName="newNote">
        <ol>
            <li>
                <label for="name">Name</label>
                <f:form.textfield property="name" id="name" />
            </li>

            <li>
                <f:form.submit value="Create" />
            </li>
        </ol>
    </f:form>
	<p><f:link.action action="back">Back to menu</f:link.action></p>

</f:section>
