<f:layout name="Default" />

<f:section name="Title">Wisteria</f:section>

<f:section name="Content">
    <h1>Menu</h1>
    <p>Pick!</p>
    <ul>
			<li><f:link.action action="index" controller="tictactoe">TicTacToe</f:link.action></li>
			<li><f:link.action action="index" controller="Note">Schwiizerdütsch</f:link.action></li>
			<li><f:link.action action="index" controller="tictactoe">Simple Calculator</f:link.action></li>
			<li><f:link.action action="index" controller="materialCalculator">Contribution Points Calculator</f:link.action></li>
    </ul>

</f:section>
