/Build/BuildEssentials
/Build/Behat
/Configuration/Production/Settings.yaml.example
/Configuration/Settings.yaml.example
/Configuration/Testing/Settings.yaml
/Configuration/Development/Caches.yaml.example
/Configuration/Development/Settings.yaml.example
/Configuration/README
/Data/
/Packages/
/Web/
/bin/
/Readme.rst
/Upgrading.rst
/flow
/flow.bat
.idea
.DS_STORE
