<f:layout name="Default"/>

<f:section name="Title">Materials Overview</f:section>

<f:section name="Content">
	<div class="row">
		<div class="column">
			<f:if condition="{materials}">
				<f:then>
					<div class="grid-container">
						<f:for each="{materials}" as="material">
							<div class="grid-item">
								<div class="sub-grid">
									<!-- TODO: add image -->
									<img src="DistributionPackages/Wisteria.Wisteria/Resources/Public/Icons/img.png" alt="{material.name}">
									<span class="contributionPoints">{material.contributionPointsValue} CP</span>
								</div>
								<div>{material.sortablePosition}</div>
									<div>
										<f:if condition="{material.sortablePosition} == 0">
											<f:then>
												<f:link.action action="increasePosition" arguments="{material: material}"><i class="fa-solid fa-right"></i>Increase</f:link.action>
											</f:then>
											<f:else if="{material.sortablePosition} == {maxMaterialPositionValue}">
												<f:link.action action="decreasePosition" arguments="{material: material}"><i class="fa-solid fa-left"></i>Decrease</f:link.action>
											</f:else>
											<f:else>
												<f:link.action action="increasePosition" arguments="{material: material}"><i class="fa-solid fa-right"></i>Increase</f:link.action>
												<f:link.action action="decreasePosition" arguments="{material: material}"><i class="fa-solid fa-left"></i>Decrease</f:link.action>
											</f:else>
										</f:if>
								</div>
								<div><b>{material.name}</b></div>
							</div>
						</f:for>
					</div>
				</f:then>

				<f:else>
					<p>No Materials created yet.</p>
				</f:else>
			</f:if>
		</div>

			<div class="columnRight">
				<f:form action="create" controller="material" object="{material}" objectName="material">
					<div class="materialCreation">
						<label for="name">Material Name:</label>
						<f:form.textfield property="name" id="name"/>

						<label for="contributionPointsValue">Contribution Points:</label>
						<f:form.textfield property="contributionPointsValue" id="contributionPointsValue"/>

						<f:form.submit value="Create"/>
					</div>
				</f:form>
			</div>

	</div>
		<hr>
	<p>
		<f:link.action action="back">Back to Index</f:link.action>
	</p>
</f:section>
